<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
NOT IMPLEMENTED CURRENTLY
Strona ma umożliwiać przejście do:
<a href="/">    </a>listy projektów,
<a href="/">    </a>dodawania projektu,
<a href="/">    </a>listy użytkowników,
<a href="/">    </a>dodawania użytkownika,
<a href="/">    </a>listy statusów,
<a href="/">    </a>dodawania statusu,
<a href="/">    </a>listy priorytetów,
<a href="/">    </a>dodawania priorytetu.


</body>
</html>