<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<a href="/project/all"> view projects </a> <br>
<a href="/project/form"> add new project </a> <br>
<a href="/user/all"> view users </a> <br>
<a href="/user/form"> add new user </a> <br>
<a href="/status/all"> view status </a> <br>
<a href="/status/form"> add new status </a> <br>
<a href="/priority/all"> view priorities </a> <br>
<a href="/priority/form"> add new priority </a> <br>

</body>
</html>