<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
Recent projects:
<!--limit to 5!!-->
<table>
    <tr th:each="project, iterStat: ${projects}" >
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.created}"></td>
        <td th:text="${project.identificator}"></td>

    </tr>
</table>

Recent Activities:
<!--limit to 25!!-->
<table>
    <!--ACTIVITY TABLE-->
    <tr th:each="activity, iterStat: ${activities}" >
        <td th:text="${activity.type}"></td>
        <td th:text="${activity.description}"></td>

    </tr>
</table>

</body>
</html>