<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
Recent projects:
<!--limit to 5!!-->
<table>
    <tr th:each="project, iterStat: ${projects}" >
        <td th:text="${project.name}"></td>
        <td th:text="${project.created}"></td>
        <td th:text="${project.identificator}"></td>

    </tr>
</table>

Recent Activities:
<!--limit to 25!!-->
<table>
    <!--ACTIVITY TABLE-->
    <!--<tr th:each="project, iterStat: ${projects}" >-->
        <!--<td th:text="${project.name}"></td>-->
        <!--<td th:text="${project.created}"></td>-->
        <!--<td th:text="${project.identificator}"></td>-->

    <!--</tr>-->
</table>


Strona ta ma wyświetlać listę ostatnich aktywności użytkowników systemu od najnowszej do
najstarszej.
Limit listy aktywności na stronie głównej to 25.
Operacje, które mają się pojawiać na liście aktywności, to:
utworzenie projektu – informacja kto i kiedy to zrobił,
dodanie zadania do projektu – informacja kto, kiedy i do jakiego projektu dodał zadanie;
dodatkowo powinien się pojawić link do szczegółów danego zagadnienia.
zmiana statusu zadania – informacja kto i kiedy to zrobił oraz z jakiego projektu pochodziło
zadanie; dodatkowo powinien się pojawić link do szczegółów danego zagadnienia.

</body>
</html>