<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Tasks</title>
</head>
<body>

<table>

    <tr>
        <th> # </th>
        <th> name</th>
        <th> created</th>
        <th> user </th>
        <th> details </th>
        <th> edit </th>
    </tr>

    <tr th:each="task, iterStat: ${tasks}" >
        <td th:text="${iterStat.count}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.created}"></td>
        <td th:text="${task.assignedUser}"></td>
        <td><a th:href="@{/task/details/{id}(id=${task.id})}"> details </a></td>
        <td><a th:href="@{/task/edit/{id}(id=${task.id})}"> edit </a></td>

    </tr>
</table>
</body>
</html>