<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<form th:action="@{/user/form}" th:object="${user}" method="post">

    <p>login: <input type="text" th:field="*{login}" /></p>
    <p>first name: <input type="text" th:field="*{firstName}" /></p>
    <p>last name: <input type="text" th:field="*{lastName}" /></p>
    <p>password: <input type="text" th:field="*{password}" /></p>

    <p><input type="submit" value="Submit" /></p>
</form>

</body>
</html>