<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<table>

    <tr>
        <th> # </th>
        <th> login</th>
        <th> first name</th>
        <th> last name</th>
    </tr>

    <tr th:each="user, iterStat: ${users}" >
        <td th:text="${iterStat.count}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.firstName}" ></td>
        <td th:text="${user.lastName}" ></td>

    </tr>
</table>

</body>
</html>